/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 222.2 84% 4.9%;
    --primary: #3e3f42;
    --primary-foreground: #fffff0;
    --secondary: #f1b42f;
    --light: #ffffff;
    --secondary-foreground: #f5f5f5;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
    --lightgrey: #e6e4e5;
    --btn-clr: #a9b4a4;
    --light-dark: #797d85;
    --border-clr: #bdc9bd;
    --para-light: #666666;
    --bdr-grey: #9d9d9d;
    --dark-grey: #555555;
  }
}
@font-face {
  font-family: 'slick';
  src: url('/_next/static/media/slick.653a4cbb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .primary-input {
    @apply h-14 px-4 border-2 border-[#3E3F423D] placeholder:text-[#3E3F4266] w-full font-medium rounded-lg text-sm sm:text-base dark:bg-primary  dark:text-white dark:focus:border-secondary dark:border;
  }
  .search_input {
    @apply primary-input w-fit;
  }
}

@layer components {
  .primary-label {
    @apply mb-1 block font-medium text-black dark:text-white;
  }
}

@layer components {
  .categoryHeading {
    @apply font-futura font-extrabold text-2xl lg:text-[40px] text-primary;
  }
}

@layer components {
  .dashboard_primary_button {
    @apply bg-primary hover:bg-secondary text-white px-4 py-2 rounded w-fit flex items-center gap-2 cursor-pointer;
  }
}

@layer components {
  .dashboard_sidebar_links {
    @apply relative flex items-center gap-2 rounded-sm px-4 py-2 font-medium duration-300 shadow-md border-b hover:bg-secondary dark:hover:bg-lightdark text-white dark:text-white;
  }
}

@layer components {
  .dashboard_sidebar_Active_links {
    @apply bg-secondary border border-secondary text-white;
  }
}

@layer components {
  .errorColor {
    @apply text-red-500;
  }
}
@layer components {
  .sidebar_inner_link {
    @apply flex-1 rounded-lg px-3 py-2 text-sm transition-all duration-300 shadow-lg text-white dark:border-b;
  }
  .db_dropdown {
    @apply transition-all duration-500 ease-in-out overflow-hidden;
  }
  .db_main_link {
    @apply text-white group-hover:text-primary transition-transform duration-300 group-hover:translate-x-1;
  }
  .db_ui_link {
    @apply mb-3 mt-3 flex flex-col gap-2 pl-6;
  }
  .db_ul_li_link {
    @apply flex items-center gap-2 transition-all duration-500;
  }
  .db_inner_sub_cat_link {
    @apply text-white border-l-4 border-white shadow-md;
  }
  .db_inner_sub_cat_link_hover {
    @apply text-white hover:bg-white/5 hover:text-white;
  }
  .sub_cat_link {
    @apply flex items-center gap-2 transform transition-all duration-500 delay-200;
  }
  .MdOutlineKeyboardArrowDown {
    @apply absolute right-4 top-1/2 -translate-y-1/2 text-white transition-transform duration-500;
  }
  .inputs_heading {
    @apply border-b py-4 px-4 bg-secondary text-lg;
  }
  .crose_button {
    @apply ml-2 errorColor bg-secondary rounded-full p-1 w-fit;
  }
  .back_main_button {
    @apply flex items-center justify-between;
  }
  .label_main {
    @apply font-medium text-black dark:text-white;
  }
  .form_element_main {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4;
  }
  .upload_image {
    @apply rounded-sm border bg-white;
  }
  .main_dropdown {
    @apply relative flex items-center gap-2 py-3 px-4 rounded-md cursor-pointer text-white font-semibold transition-all duration-300 border shadow-md;
  }
  .appointment_popup_heading {
    @apply text-base uppercase tracking-wide text-gray-500 font-semibold dark:text-gray-400;
  }
}

.light {
  --table: white;
  --tabletext: black;
  --h1-color: white;
  --hover: #cdb7aa;
  --input-color: white;
}

/* Dark Theme */
.dark {
  --table: #797d85;
  --tabletext: white;
  --h1-color: white;
  --hover: #141414;
  --input-color: white;
}
.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.font-futura {
  font-family: var(--font-futura), sans-serif;
}

input {
  outline: none;
}

@layer base {
  * {
    @apply border-border;
  }
}

.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  visibility: hidden !important;
}

#goog-gt-tt {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  top: 0 !important;
}

li button:before {
  font-size: 19px !important;
  color: #fff !important;
  opacity: 0.5;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}

.PhoneInputInput {
  border-left: 1px solid #3e3f423d !important;
  padding-left: 5px !important;
}
