/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #3E3F42;
    --primary-foreground: #FFFFF0;
    --secondary: #F1B42F;
    --light: #ffffff;
    --secondary-foreground: #F5F5F5;
    --muted: [210 40% 96.1%];
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --h1-color: #000000;
    --lightgrey: #e6e4e5;
    --btn-clr: #a9b4a4;
    --light-dark: #797d85;
    --border-clr: #bdc9bd;
    --hover-border-clr: #aab8aa;
    --para-light: #666666;
    --bdr-grey: #9d9d9d;
    --dark-grey: #555555;
  }
}

@layer components {
  .primary-input {
    @apply w-full rounded-lg border-[1.5px]  bg-transparent px-5 py-3 text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-white dark:bg-primary  dark:text-white dark:focus:border-secondary dark:border;
  }
.search_input {
  @apply primary-input w-fit
}

}

@layer components {
  .primary-label {
    @apply mb-3 block text-sm font-medium text-black dark:text-white;
  }
}



@layer components {
  .categoryHeading {
    @apply font-robotoSerif font-bold text-2xl lg:text-[40px] text-primary;
  }
}


@layer components {
.dashboard_primary_button {
    @apply bg-primary hover:bg-secondary text-white px-4 py-2 rounded w-fit flex items-center gap-2 cursor-pointer ;
  }
}

@layer components {
.dashboard_sidebar_links {
    @apply relative flex items-center gap-2 rounded-sm px-4 py-2 font-medium duration-300 shadow-md border-b hover:bg-secondary dark:hover:bg-lightdark text-white dark:text-white;
  }
}

@layer components {
  .dashboard_sidebar_Active_links {
    @apply bg-secondary border border-secondary text-white;
  }
}


@layer components {
.errorColor {
    @apply text-red-500 ;
  }
}
@layer components {
  .sidebar_inner_link{
    @apply flex-1 rounded-lg px-3 py-2 text-sm transition-all duration-300 shadow-lg text-white dark:border-b
  }
  .db_dropdown {
    @apply transition-all duration-500 ease-in-out overflow-hidden;
  }
  .db_main_link{
    @apply text-white group-hover:text-primary transition-transform duration-300 group-hover:translate-x-1;
  }
  .db_ui_link {
   @apply mb-3 mt-3 flex flex-col gap-2 pl-6
  }
  .db_ul_li_link {
    @apply flex items-center gap-2 transition-all duration-500;
  }
  .db_inner_sub_cat_link {
    @apply text-white border-l-4 border-white shadow-md
  }
  .db_inner_sub_cat_link_hover {
    @apply text-white hover:bg-white/5 hover:text-white
  }
  .sub_cat_link {
    @apply flex items-center gap-2 transform transition-all duration-500 delay-200 
  }
  .MdOutlineKeyboardArrowDown{
    @apply absolute right-4 top-1/2 -translate-y-1/2 text-white transition-transform duration-500
  }
  .inputs_heading{
    @apply border-b py-4 px-4 bg-secondary text-lg;
  }
  .crose_button {
    @apply ml-2 errorColor bg-secondary rounded-full p-1 w-fit
  }
}

.light {
  --table: white;
  --tabletext: black;
  --h1-color: white;
  --hover: #cdb7aa;
  --input-color: white;
}

/* Dark Theme */
.dark {
  --table: #797d85;
  --tabletext: white;
  --h1-color: white;
  --hover: #141414;
  --input-color: white;
}
.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

.font-roboto-serif {
  font-family: var(--font-roboto-serif), serif;
}

input {
  outline: none;
}

@layer base {
  * {
    @apply border-border;
  }

}

.VIpgJd-ZVi9od-ORHb-OEVmcd.skiptranslate {
  visibility: hidden !important;
}

#goog-gt-tt {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  top: 0 !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  color: var(--tabletext);
  font-weight: 500 !important;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--input) !important;
  color: var(--input-color) !important;
  border: 0px !important;
}

.ant-table-wrapper table {
  background-color: var(--table);
  color: var(--tabletext);
}

.ant-table-wrapper .ant-table-tbody .ant-table-row>.ant-table-cell-row-hover {
  background-color: var(--hover) !important;
  color: var(--h1-color) !important;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
  background: var(--table) !important;
  color: var(--tabletext);
}

.ant-table-wrapper .ant-table-filter-trigger {
  color: var(--tabletext);
}



.custom-collapse .ant-collapse-content-box {
  padding-bottom: 0px !important;
}

.custom-collapse .ant-collapse-header {
  padding: 0 !important;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.custom-collapse .ant-collapse-header .ant-collapse-header-text {
  width: fit-content;
  margin: 0 !important;
}

.custom-collapse .ant-collapse-header .ant-collapse-expand-icon {
  order: 2 !important;
  padding: 0 !important;
}



li button:before {
  font-size: 19px !important;
  color: #fff !important;
  opacity: 0.5;
}

.css-t3ipsp-control {
  box-shadow: 0 0 0 1px black !important;
}

.css-t3ipsp-control:hover {
  border-color: black !important;
}

.ant-select-selector {
  border-color: #000000 !important;
}

.css-t3ipsp-control {
  border-color: var(--primary) !important;
}

.css-t3ipsp-control:active {
  border-color: var(--primary) !important;
}


.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent;
}

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--secondary);
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  font-size: larger !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  font-size: large !important;
  font-weight: 600;
}

.ant-select-dropdown {
  z-index: 20 !important;
}


.ant-modal-mask {
  background-color: rgb(0 0 0 / 18%) !important;
}

.ant-checkbox-inner {
  border-color: #cdb7aa !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #cdb7aa !important;
}



.blog-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.blog-content ol {
  list-style-type: decimal;
  margin-left: 20px;
}


ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.blog-content a {
  text-decoration: underline;
}

.custom-dot {
  display: inline-block !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary) !important;
  margin: 0 4px;
  transition: background-color 0.3s;
  opacity: 100 !important;
}

.custom-dot.swiper-pagination-bullet-active {
  background-color: var(--secondary) !important;
}


/* Style default react-slick arrows */
.best_seller_slider .slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  z-index: 10;
  background-color: #333 !important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Arrow icon color as white (the arrow is created by CSS borders in slick) */
.best_seller_slider .slick-prev::before,
.best_seller_slider .slick-next::before {
  /* font-size: 20px; */
  color: white !important;
  opacity: 1 !important;
}

/* Position adjustments */
.best_seller_slider .slick-prev {
  left: 0px;
  z-index: 20;
}

.best_seller_slider .slick-next {
  right: 0px;
  z-index: 20;
}

/* Optional: Hover effect */
.best_seller_slider .slick-prev:hover,
.best_seller_slider .slick-next:hover {
  background-color: #333 !important;
}

.motorizedblindcurtains .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #F1B42F !important;
  opacity: 1;
}

.motorizedblindcurtains .slick-dots li button:before {
  color:#36454F1F !important;
  font-size: 8px !important;
  opacity: 1;
}

.motorizedblindcurtains .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
}

.motorizedblindcurtains .slick-dots li {
  width: 7px;
}


.custom-radio .ant-radio-inner {
  border-color: black;
}

/* When radio is checked - change background and border */
.custom-radio .ant-radio-checked .ant-radio-inner {
  background-color: white;
  border-color: black;
}

/* The dot inside the checked radio */
.custom-radio .ant-radio-inner::after {
  background-color: black;
  width: 24px;
  height: 24px;
  margin-block-start: -12px;
  margin-inline-start: -12px
}

/* On hover: change border color to black */
.custom-radio .ant-radio-wrapper:hover .ant-radio-inner,
.custom-radio .ant-radio:hover .ant-radio-inner {
  border-color: black;
}

/* On hover when checked: keep black background */
.custom-radio .ant-radio-checked:hover .ant-radio-inner {
  background-color: black;
  border-color: black;
}
.custom-radio .ant-radio-label {
  padding-inline-end: 0px !important;
}

.custom-radio.estimator-radio .ant-radio-inner {
  border-color: #00000066;
}

/* The dot inside the checked radio */
.custom-radio.estimator-radio .ant-radio-inner::after {
  background-color: var(--secondary);
}

/* When radio is checked - change background and border */
.custom-radio.estimator-radio .ant-radio-checked .ant-radio-inner {
  background-color: white;
  border-color: var(--secondary);
}

/* On hover: change border color to black */
.custom-radio .ant-radio-wrapper:hover .ant-radio-inner,
.custom-radio .ant-radio:hover .ant-radio-inner {
  border-color: var(--secondary);
}

/* On hover when checked: keep black background */
.custom-radio .ant-radio-checked:hover .ant-radio-inner {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.custom-select .css-13cymwt-control , .custom-select .css-t3ipsp-control {
  border: 2px solid rgb(209 213 219 / var(--tw-border-opacity, 1)) !important;
  border-radius: 0.75rem;
  height: 56px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.custom-test .slick-dots li {
  margin: 0 1px !important;
}
.custom-test .slick-dots li button:before {
  font-size: 10px !important;
  color: #3E3F42 !important; 
  margin: 0 !important;
  opacity: 1 !important; 
}

.custom-test .slick-dots li.slick-active button:before {
  color: #F1B42F !important; 
}

.custom-test .slick-dots li:hover button:before {
  color: #3E3F42 !important; 
}
.ant-collapse-header{
  border: none !important;
}

.testimonial-slider .swiper-button-prev, .testimonial-slider .swiper-button-next {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.testimonial-slider .swiper-button-next:after ,.testimonial-slider .swiper-button-prev:after {
  font-size: 20px;
}
