
.blog-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.blog-content ol {
  list-style-type: decimal;
  margin-left: 20px;
}


ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.blog-content a {
  text-decoration: underline;
}