.motorizedblindcurtains .slick-dots li.slick-active button:before {
  opacity: .75;
  color: #F1B42F !important;
  opacity: 1;
}

.motorizedblindcurtains .slick-dots li button:before {
  color:#36454F1F !important;
  font-size: 8px !important;
  opacity: 1;
}

.motorizedblindcurtains .slick-dots li button {
  width: 10px !important;
  height: 10px !important;
}

.motorizedblindcurtains .slick-dots li {
  width: 7px;
}
